<!-- Without the tabindex attributes, the <span> elements would not be keyboard focusable -->
  <div>
    <span role="checkbox" aria-checked="true" tabindex="0">
        <img src="checked.gif" role="presentation" alt="" />
        Include decorative fruit basket
    </span>
</div>
<div>
    <span role="checkbox" aria-checked="true" tabindex="0">
        <img src="checked.gif" role="presentation" alt="" />
        Include singing telegram
    </span>
</div>
<div>
    <span role="checkbox" aria-checked="false" tabindex="0">
        <img src="unchecked.gif" role="presentation" alt="" />
        Require payment before delivery
    </span>
</div>
<div>
  <span role="checkbox" aria-checked="false" tabindex="0">
      <img src="unchecked.gif" role="presentation" alt="" />
      webpack: Compiled successfully.
  </span>
</div>
<div>
  <span role="checkbox" aria-checked="false" tabindex="0">
      <img src="unchecked.gif" role="presentation" alt="" />
      fatal: bad config line 44 in file /usr/local/git/etc/git
  </span>
</div>
